{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Password reset completed!!</h3>
                <hr>
                <div>
                    <iframe src="https://giphy.com/embed/kclW4QLTnLmfvshm0l" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/vwfsde-volkswagen-vwfs-autofinanzierung-kclW4QLTnLmfvshm0l"></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}